@model IEnumerable<MKFood.DB.Models.Food>

@{
    ViewData["Title"] = "Foods";
}

<head>
   
</head>

<a class="btn btn-success add-food" asp-action="Create">+</a>

<div class="row w-100 justify-content-center">
    @* Show Food Items *@
    @foreach(var item in Model){
        <div class="col-3 mb-5 m-2 food-item">
            <div class="w100 row">
                <a asp-action="Edit" asp-route-id="@item.FoodId"><img class="float-end food-item-edit" src="~/img/edit.png" /></a>
                <a style="text-decoration:none;color:black;" asp-action="Details" asp-route-id="@item.FoodId"><h3>@item.Name</h3></a>
                @{
                    string pic = "~/img/foods/" + item.Picture + ".jpg";
                }
                <img src="@pic" class="food-pic" asp-append-version=true />
                <h5 class="food-item-des">@item.Description</h5>
                <p class="food-item-cat">@item.Category.Name</p>
                <div class="row w100">
                    <div class="col-7">
                        @foreach (var p in @item.Prices)
                        {
                            @if (!p.Expierd)
                            {
                                <h5 class="food-item-price-set">$@p.Cost</h5>
                            }
                        }
                        @if (item.Prices.Count <= 0){
                            <p >No Price</p>
                        }
                    </div>
                    <div class="col-5">
                        @if (item.Prices.Count > 0)
                        {
                            <a class="btn btn-outline-secondary w-100" asp-controller="Prices" asp-action="Create" asp-route-id=@item.FoodId>Set</a>
                        }else
                        {
                            <a  class="btn btn-secondary w-100" asp-controller="Prices" asp-action="Create" asp-route-id=@item.FoodId>Set</a>
                        }
                    </div>
                </div>
                <button onclick="AddOrder(@item.FoodId)" class="btn mt-2 food-item-add-order" asp-action="Details" id=@item.FoodId>Add Order</button>
            </div>
        </div>
    }
</div>

<script>
    
    document.addEventListener("DOMContentLoaded", () => {
        
        var url = "/Orders/CheckOrderedFood";
        $.get(url, function (data) {
            let json = $.parseJSON(data);
            console.log(json);
            json.forEach(DisableFood);
            
        });
    });

    function DisableFood(item){
        $('#' + item.FoodId).prop('disabled', true);
        $('#' + item.FoodId).html('Added');
    }

    function AddOrder(id){
        var url = "/Orders/AddOrders/" + id;
        $.get(url, function (data) {
            $('#'+id).prop('disabled', true);
            $('#' + id).html("Added");
        });
    }
</script>